<div class = "container">
	<h3> <%= params[:spots]["term"] %>, near <%= params[:spots]["zip"] %></h3>


	<% @search_results["businesses"].each do |spot| %>
	<div>
		<%= link_to(spot["name"], business_path(spot["id"]), method: "get") %><br>
		<img src= "<%= spot["image_url"] %>"><br>
		<img src= "<%= spot["rating_img_url"] %>" ><br>
		<% spot["location"]["display_address"].each do |address_line| %>
		<%= address_line %><br>
		<%end%>
	</div>
	<%end%>
</div>