
  <table border = "1">
    <thead>
        <th>Name</th>
        <th>Rating</th>
        <th>Image</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Cross Streets</th>
        <th>City</th>
        <th>Neighborhoods</th>
        <th>Zip</th>
        <th>State</th>
        <th>Category</th>
        <th>Remove Spot</th>
    </thead>
    <tr>
        <td><%= @spot.name %></td>
        <td><img src="<%= @spot.rating_img_url %>"></td>
        <td><img src="<%= @spot.image_url %>"></td>
        <td><%= @spot.display_phone %></td>
        <td><%= @spot.display_address %></td>
        <td><%= @spot.cross_streets %></td>
        <td><%= @spot.city %></td>
        <td><%= @spot.neighborhoods %></td>
        <td><%= @spot.postal_code %></td>
        <td><%= @spot.state_code %></td>
        <td><%= @spot.category %></td>
        <td><%= link_to "Remove", spot_path(@spot.id), method: :delete %></td>
    </tr>


</table>