<div class ="container results">
  <div class = "relative">
  <h3 class = "profile_name"><%= current_user.name %></h3>
    <% if signed_in? %>
      <%= link_to "Edit", edit_user_registration_path(current_user), class: "edit_link" %>
    <%end%>
  </div>
  <table>  
    <table class= "table profile_info">
      <tr>
        <td><label>City:</label></td>
        <td><%= current_user.city %></td>
      </tr>
      <tr>    
        <td><label>Neighborhood:</label></td>
        <td><%= current_user.neighborhood %></td>
      </tr>
      <tr>  
        <td><label>About:</label></td>
        <td><%= current_user.about %></td>
      </tr>
    </table> 


      
        <h4 id = "my_spots">My Spots</h4>
      
      <%= render partial: "myspots" %>
  </div>
  <div>